In [12]:
import pandas as pd
df = pd.read_csv("/lakehouse/default/Files/Bronze_openaq/need_openaq_location_7th Ave_measurments_1.csv")
df

StatementMeta(, 94a589e7-9645-4870-9546-f29f7f307991, 14, Finished, Available, Finished)

,location_id,location_name,parameter,value,unit,datetimeUtc,datetimeLocal,timezone,latitude,longitude,country_iso,isMobile,isMonitor,owner_name,provider
0,2616564,7th Ave and W 16th St,pm25,16.070536,µg/m³,2024-07-01T01:00:00Z,2024-06-30T21:00:00-04:00,America/New_York,40.740022,-73.998504,NaN,NaN,NaN,Unknown Person,AirGradient
1,2616564,7th Ave and W 16th St,pm25,15.815030,µg/m³,2024-07-01T02:00:00Z,2024-06-30T22:00:00-04:00,America/New_York,40.740022,-73.998504,NaN,NaN,NaN,Unknown Person,AirGradient
2,2616564,7th Ave and W 16th St,pm25,8.220536,µg/m³,2024-07-01T03:00:00Z,2024-06-30T23:00:00-04:00,America/New_York,40.740022,-73.998504,NaN,NaN,NaN,Unknown Person,AirGradient
3,2616564,7th Ave and W 16th St,pm25,7.365476,µg/m³,2024-07-01T04:00:00Z,2024-07-01T00:00:00-04:00,America/New_York,40.740022,-73.998504,NaN,NaN,NaN,Unknown Person,AirGradient
4,2616564,7th Ave and W 16th St,pm25,3.750298,µg/m³,2024-07-01T05:00:00Z,2024-07-01T01:00:00-04:00,America/New_York,40.740022,-73.998504,NaN,NaN,NaN,Unknown Person,AirGradient
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1907,2616564,7th Ave and W 16th St,temperature,29.348661,c,2024-08-10T18:00:00Z,2024-08-10T14:00:00-04:00,America/New_York,40.740022,-73.998504,NaN,NaN,NaN,Unknown Person,AirGradient
1908,2616564,7th Ave and W 16th St,temperature,29.478571,c,2024-08-10T19:00:00Z,2024-08-10T15:00:00-04:00,America/New_York,40.740022,-73.998504,NaN,NaN,NaN,Unknown Person,AirGradient
1909,2616564,7th Ave and W 16th St,temperature,30.036161,c,2024-08-10T20:00:00Z,2024-08-10T16:00:00-04:00,America/New_York,40.740022,-73.998504,NaN,NaN,NaN,Unknown Person,AirGradient
1910,2616564,7th Ave and W 16th St,temperature,30.140923,c,2024-08-10T21:00:00Z,2024-08-10T17:00:00-04:00,America/New_York,40.740022,-73.998504,NaN,NaN,NaN,Unknown Person,AirGradient
1911,2616564,7th Ave and W 16th St,temperature,29.325714,c,2024-08-10T23:00:00Z,2024-08-10T19:00:00-04:00,America/New_York,40.740022,-73.998504,NaN,NaN,NaN,Unknown Person,AirGradient

In [1]:
import pandas as pd

files = [
    "/lakehouse/default/Files/Bronze_openaq/need_openaq_location_7th Ave_measurments_1.csv",
    "/lakehouse/default/Files/Bronze_openaq/need_openaq_location_7th Ave_measurments_2.csv",
]

use_cols = [
    "location_id",
    "location_name",
    "parameter",
    "value",
    "unit",
    "datetimeUtc",
    "latitude",
    "longitude",
]

df = pd.concat(
    [pd.read_csv(f, usecols=use_cols) for f in files],
    ignore_index=True
)

df

StatementMeta(, 236437cf-88e1-4f8c-b191-62d14621c62c, 3, Finished, Available, Finished)

,location_id,location_name,parameter,value,unit,datetimeUtc,latitude,longitude
0,2616564,7th Ave and W 16th St,pm25,16.070536,µg/m³,2024-07-01T01:00:00Z,40.740022,-73.998504
1,2616564,7th Ave and W 16th St,pm25,15.815030,µg/m³,2024-07-01T02:00:00Z,40.740022,-73.998504
2,2616564,7th Ave and W 16th St,pm25,8.220536,µg/m³,2024-07-01T03:00:00Z,40.740022,-73.998504
3,2616564,7th Ave and W 16th St,pm25,7.365476,µg/m³,2024-07-01T04:00:00Z,40.740022,-73.998504
4,2616564,7th Ave and W 16th St,pm25,3.750298,µg/m³,2024-07-01T05:00:00Z,40.740022,-73.998504
...,...,...,...,...,...,...,...,...
3551,2616564,7th Ave and W 16th St,temperature,24.880059,c,2024-09-16T20:00:00Z,40.740022,-73.998504
3552,2616564,7th Ave and W 16th St,temperature,24.698214,c,2024-09-16T21:00:00Z,40.740022,-73.998504
3553,2616564,7th Ave and W 16th St,temperature,24.417857,c,2024-09-16T22:00:00Z,40.740022,-73.998504
3554,2616564,7th Ave and W 16th St,temperature,24.241369,c,2024-09-16T23:00:00Z,40.740022,-73.998504
3555,2616564,7th Ave and W 16th St,temperature,23.199107,c,2024-09-17T00:00:00Z,40.740022,-73.998504

In [2]:
import numpy as np

# типы
df["location_id"] = pd.to_numeric(df["location_id"], errors="coerce")
df["value"] = pd.to_numeric(df["value"], errors="coerce")
df["ts_utc"] = pd.to_datetime(df["datetimeUtc"], errors="coerce", utc=True)

# фильтры
df = df.dropna(subset=["location_id", "value", "ts_utc"])

df["parameter"] = df["parameter"].astype(str).str.lower().str.strip()
df.loc[df["parameter"].isin(["pm2.5", "pm25"]), "parameter"] = "pm25"
df.loc[df["parameter"].isin(["temperature", "temp"]), "parameter"] = "temperature"

df = df[df["parameter"].isin(["pm25", "temperature"])].copy()

# start = pd.Timestamp("2024-07-01", tz="UTC")
# end   = pd.Timestamp("2024-09-01", tz="UTC")
# df = df[(df["ts_utc"] >= start) & (df["ts_utc"] < end)].copy()

# дата/час
df["date"] = df["ts_utc"].dt.date
df["hour"] = df["ts_utc"].dt.hour

df

StatementMeta(, 236437cf-88e1-4f8c-b191-62d14621c62c, 4, Finished, Available, Finished)

,location_id,location_name,parameter,value,unit,datetimeUtc,latitude,longitude,ts_utc,date,hour
0,2616564,7th Ave and W 16th St,pm25,16.070536,µg/m³,2024-07-01T01:00:00Z,40.740022,-73.998504,2024-07-01 01:00:00+00:00,2024-07-01,1
1,2616564,7th Ave and W 16th St,pm25,15.815030,µg/m³,2024-07-01T02:00:00Z,40.740022,-73.998504,2024-07-01 02:00:00+00:00,2024-07-01,2
2,2616564,7th Ave and W 16th St,pm25,8.220536,µg/m³,2024-07-01T03:00:00Z,40.740022,-73.998504,2024-07-01 03:00:00+00:00,2024-07-01,3
3,2616564,7th Ave and W 16th St,pm25,7.365476,µg/m³,2024-07-01T04:00:00Z,40.740022,-73.998504,2024-07-01 04:00:00+00:00,2024-07-01,4
4,2616564,7th Ave and W 16th St,pm25,3.750298,µg/m³,2024-07-01T05:00:00Z,40.740022,-73.998504,2024-07-01 05:00:00+00:00,2024-07-01,5
...,...,...,...,...,...,...,...,...,...,...,...
3551,2616564,7th Ave and W 16th St,temperature,24.880059,c,2024-09-16T20:00:00Z,40.740022,-73.998504,2024-09-16 20:00:00+00:00,2024-09-16,20
3552,2616564,7th Ave and W 16th St,temperature,24.698214,c,2024-09-16T21:00:00Z,40.740022,-73.998504,2024-09-16 21:00:00+00:00,2024-09-16,21
3553,2616564,7th Ave and W 16th St,temperature,24.417857,c,2024-09-16T22:00:00Z,40.740022,-73.998504,2024-09-16 22:00:00+00:00,2024-09-16,22
3554,2616564,7th Ave and W 16th St,temperature,24.241369,c,2024-09-16T23:00:00Z,40.740022,-73.998504,2024-09-16 23:00:00+00:00,2024-09-16,23
3555,2616564,7th Ave and W 16th St,temperature,23.199107,c,2024-09-17T00:00:00Z,40.740022,-73.998504,2024-09-17 00:00:00+00:00,2024-09-17,0

In [3]:
#Insight 1 — Pollution “hotspots” by time (пики по часам/дням)

# Топ-10 часов с самым высоким PM2.5

pm = df[df["parameter"] == "pm25"].copy()

pm_hourly = (pm.groupby("hour", as_index=False)
               .agg(avg_pm25=("value", "mean"),
                    p95_pm25=("value", lambda s: np.percentile(s, 95)),
                    n=("value", "size"))
               .sort_values("avg_pm25", ascending=False))

pm_hourly.head()

StatementMeta(, 236437cf-88e1-4f8c-b191-62d14621c62c, 5, Finished, Available, Finished)

    hour   avg_pm25   p95_pm25   n
18    18  13.521217  30.722805  76
17    17  13.070773  29.321473  75
15    15  13.061118  29.790149  75
19    19  12.960441  28.091875  77
16    16  12.900834  29.914316  75

In [4]:
# B) Топ-10 дней с самым высоким PM2.5

pm_daily = (pm.groupby("date", as_index=False)
              .agg(avg_pm25=("value", "mean"),
                   max_pm25=("value", "max"),
                   n=("value", "size"))
              .sort_values("avg_pm25", ascending=False))

pm_daily.head(10)

StatementMeta(, 236437cf-88e1-4f8c-b191-62d14621c62c, 6, Finished, Available, Finished)

          date   avg_pm25   max_pm25   n
4   2024-07-05  37.421976  97.229613  24
32  2024-08-02  28.010865  35.093601  24
46  2024-08-17  27.184170  32.948066  24
47  2024-08-18  26.550618  29.381399  24
28  2024-07-29  24.652445  29.265625  24
27  2024-07-28  23.696757  29.688839  24
45  2024-08-16  23.590836  30.876935  24
7   2024-07-08  23.483575  29.375893  24
5   2024-07-06  22.026201  32.806697  24
14  2024-07-15  21.534809  35.053274  23

In [5]:
# Insight 2 — Seasonal variations (внутри периода)

pm["month"] = pd.to_datetime(pm["date"]).dt.month

pm_month = (pm.groupby("month", as_index=False)
              .agg(avg_pm25=("value", "mean"),
                   median_pm25=("value", "median"),
                   n=("value", "size"))
              .sort_values("month"))

pm_month

StatementMeta(, 236437cf-88e1-4f8c-b191-62d14621c62c, 7, Finished, Available, Finished)

   month   avg_pm25  median_pm25    n
0      7  14.340282    12.978423  717
1      8  12.401241    10.385342  700
2      9   6.810637     4.670685  361

In [6]:
taxi = spark.sql("SELECT * FROM Itransition_project.dbo.silver_taxi_daily_zone")
taxi = taxi.toPandas()
taxi

StatementMeta(, 236437cf-88e1-4f8c-b191-62d14621c62c, 8, Finished, Available, Finished)

,date,Borough_p,PULocationID,trips_count,avg_total_amount_usd,avg_trip_distance,avg_duration_min
0,2024-11-16,Queens,83,23,27.849565,5.157391,16.750000
1,2024-11-16,Queens,86,10,56.507000,16.156000,56.161667
2,2024-11-16,Queens,92,32,25.022813,5.769063,19.071875
3,2024-11-16,Queens,93,34,53.190294,8.561765,18.050980
4,2024-11-16,Queens,95,39,31.275128,6.577692,25.561966
...,...,...,...,...,...,...,...
84555,2024-02-17,Queens,101,2,23.560000,6.005000,13.583333
84556,2024-02-17,Queens,102,5,35.840000,7.384000,28.580000
84557,2024-02-17,Queens,117,6,38.863333,2.890000,23.244444
84558,2024-02-17,Queens,171,4,29.867500,6.615000,22.162500
84559,2024-02-17,Queens,121,8,35.146250,6.716250,25.333333

In [7]:
# Insight 3 — Correlate taxi demand vs PM2.5 (daily)

# A) pm25 + temperature

air_daily = (df.groupby(["date", "parameter"], as_index=False)
               .agg(avg_value=("value", "mean")))

air_wide = air_daily.pivot(index="date", columns="parameter", values="avg_value").reset_index()

air_wide

StatementMeta(, 236437cf-88e1-4f8c-b191-62d14621c62c, 9, Finished, Available, Finished)

parameter        date       pm25  temperature
0          2024-07-01   4.417176    23.091173
1          2024-07-02   3.977700    25.170118
2          2024-07-03   5.765243    25.564842
3          2024-07-04   9.036262    26.296607
4          2024-07-05  37.421976    28.488213
..                ...        ...          ...
73         2024-09-13  10.183695    24.277889
74         2024-09-14  13.846658    24.685510
75         2024-09-15  11.297867    24.196156
76         2024-09-16   3.492894    21.943396
77         2024-09-17   5.045536    23.199107

[78 rows x 3 columns]

In [21]:
# B) joining open air with taxi data
joined = taxi[taxi["PULocationID"] == 90].merge(air_wide, on="date", how="inner").sort_values("date")

# корреляция trips vs pm25
corr = joined[["trips_count", "pm25"]].corr().iloc[0,1]

# Если хочешь увидеть “в какие дни совпали пики”:

joined["pm25_rank"] = joined["pm25"].rank(ascending=False)
joined["trips_rank"] = joined["trips_count"].rank(ascending=False)

import pandas as pd
joined['date'] = pd.to_datetime(joined['date'])

joined["month"] = joined['date'].dt.month_name()

joined.sort_values(["pm25"], ascending=False)

StatementMeta(, 94a589e7-9645-4870-9546-f29f7f307991, 23, Finished, Available, Finished)

,date,Borough_p,PULocationID,trips_count,avg_total_amount_usd,avg_trip_distance,avg_duration_min,pm25,temperature,pm25_rank,trips_rank,month
35,2024-07-05,Manhattan,90,1133,20.582330,2.079100,12.589570,37.421976,28.488213,1.0,74.0,July
63,2024-08-02,Manhattan,90,1706,21.113921,1.913288,12.584232,28.010865,30.582664,2.0,27.0,August
77,2024-08-17,Manhattan,90,1703,21.252854,2.101726,14.497328,27.184170,25.726866,3.0,28.5,August
0,2024-08-18,Manhattan,90,1336,20.337231,2.097290,13.099701,26.550618,25.783836,4.0,58.0,August
59,2024-07-29,Manhattan,90,1224,21.734902,2.185261,12.339978,24.652445,26.666280,5.0,66.0,July
...,...,...,...,...,...,...,...,...,...,...,...,...
21,2024-09-08,Manhattan,90,1894,22.427851,2.476990,13.274014,2.969581,19.459381,74.0,13.0,September
3,2024-08-21,Manhattan,90,1391,22.445442,2.096614,13.910340,2.451147,20.412980,75.0,54.0,August
12,2024-08-30,Manhattan,90,1442,21.708759,2.222864,13.351930,2.326668,22.963542,76.0,50.0,August
16,2024-09-03,Manhattan,90,1284,22.835919,2.097103,13.557983,2.228840,20.912171,77.0,62.0,September
2,2024-08-20,Manhattan,90,1295,21.960579,2.045792,14.269279,2.148630,21.921168,78.0,60.0,August

In [22]:
air_daily = (
    df.groupby(["date", "location_id", "location_name", "parameter", "unit"], as_index=False)
      .agg(
          avg_value=("value", "mean"),
          n_obs=("value", "size")
      )
)

air_daily

StatementMeta(, 94a589e7-9645-4870-9546-f29f7f307991, 24, Finished, Available, Finished)

,date,location_id,location_name,parameter,unit,avg_value,n_obs
0,2024-07-01,2616564,7th Ave and W 16th St,pm25,µg/m³,4.417176,19
1,2024-07-01,2616564,7th Ave and W 16th St,temperature,c,23.091173,19
2,2024-07-02,2616564,7th Ave and W 16th St,pm25,µg/m³,3.977700,21
3,2024-07-02,2616564,7th Ave and W 16th St,temperature,c,25.170118,21
4,2024-07-03,2616564,7th Ave and W 16th St,pm25,µg/m³,5.765243,23
...,...,...,...,...,...,...,...
151,2024-09-15,2616564,7th Ave and W 16th St,temperature,c,24.196156,24
152,2024-09-16,2616564,7th Ave and W 16th St,pm25,µg/m³,3.492894,24
153,2024-09-16,2616564,7th Ave and W 16th St,temperature,c,21.943396,24
154,2024-09-17,2616564,7th Ave and W 16th St,pm25,µg/m³,5.045536,1
155,2024-09-17,2616564,7th Ave and W 16th St,temperature,c,23.199107,1

In [23]:
import pyspark.sql.functions as F

# pandas -> spark
gold_openaq_pm_hourly = spark.createDataFrame(pm_hourly)
gold_openaq_pm_daily = spark.createDataFrame(pm_daily)
gold_openaq_pm_month = spark.createDataFrame(pm_month)
gold_openaq_taxi_joined = spark.createDataFrame(joined)
gold_openaq_air_daily = spark.createDataFrame(air_daily)

# write as tables into Lakehouse (Silver)
gold_openaq_pm_hourly.write.mode("append").saveAsTable("gold_openaq_pm_hourly")
gold_openaq_pm_daily.write.mode("append").saveAsTable("gold_openaq_pm_daily")
gold_openaq_pm_month.write.mode("append").saveAsTable("gold_openaq_pm_month")
gold_openaq_taxi_joined.write.mode("append").saveAsTable("gold_openaq_taxi_joined")
gold_openaq_air_daily.write.mode("append").saveAsTable("gold_openaq_air_daily")

StatementMeta(, 94a589e7-9645-4870-9546-f29f7f307991, 25, Finished, Available, Finished)

In [8]:
gold_openaq_air_wide = spark.createDataFrame(air_wide)
gold_openaq_air_wide.write.mode("append").saveAsTable("gold_openaq_air_wide")

StatementMeta(, 236437cf-88e1-4f8c-b191-62d14621c62c, 10, Finished, Available, Finished)

In [9]:
df = spark.sql("SELECT * FROM Itransition_project.dbo.gold_openaq_air_wide LIMIT 1000")
display(df)

StatementMeta(, 236437cf-88e1-4f8c-b191-62d14621c62c, 11, Finished, Available, Finished)

SynapseWidget(Synapse.DataFrame, 75054bd0-5e79-4954-9b4e-e5fcdc3a903b)